<script src="/js/jquery.min.js"></script>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= review.user.email %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Rating: <%= review.rating %></h6>
    <p class="card-text"><%= review.comment %></p>
    <%= link_to "Delete Comment", "/restaurants/#{review.restaurant.id}/reviews/#{review.id}/comment", method: :patch %>
    <% if review.image.attached? %>
      <%= image_tag review.image, style: "width: 200px; display: block" %>
    <% end %>
    <p><%= link_to favorite_text, favorites_update_path(review: review), id: 'favorite_link', remote: true  %></p>
  </div>
</div>
